<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>H&iacute;rek.hu</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
{literal}
<script language="javascript" type="text/javascript">
function stopHere(evt)
{
  if (!evt) 
    var evt = window.event;

  evt.cancelBubble = true
  if (evt.stopPropagation)
    evt.stopPropagation()
}

var moduleGhost = document.createElement("div");
moduleGhost.id = "moduleGhost";
var IE = document.all?true:false;
function createElement(name, cl){
	var element = document.createElement(name);
	element.className = cl;
	return element;
}
function findPosX(obj) {
	var curleft = 0;
	if (obj.offsetParent) {
		while (obj.offsetParent) {
			curleft += obj.offsetLeft;
			obj = obj.offsetParent;
		}
	} else if (obj.x) curleft += obj.x;
	return curleft;
}
function findPosY(obj) {
	var curtop = 0;
	if (obj.offsetParent!=null) {
		while (obj.offsetParent) {
			curtop += obj.offsetTop;
			obj = obj.offsetParent;
		}
	} else if (obj.y) curtop += obj.y;
	return curtop;

}

var mouseXY = Array();
function getContent(request, data){
	var answer = request.responseText;		
	data[0].innerHTML = answer;
}
var Box = function(boxTitle, boxTitleURL,boxRSS, boxColumn, boxTop, boxNewsNr, boxCollapsed, boxVisibility, boxID){				
	var obj = null;			
	this.build = function(){										
		var column = document.getElementById(boxColumn);		
		
		var box = document.createElement('div');
		box.className = "box";
		box.id = 'box_' + boxID;
		
		var module = document.createElement('div');
		module.className = "module";
		box.appendChild(module);
		
		var boxHeader = document.createElement('div');
		boxHeader.className = "mHeader";
		module.appendChild(boxHeader);
		
		var boxName = document.createElement('div');
		boxName.className = "boxName";
		boxName.innerHTML = '<a href="http://' + boxTitleURL + '" class="boxName" target="_blank">' + boxTitle + '</a>';
		if(IE)
		  boxName.attachEvent("onmousedown", stopHere);
		else
		  boxName.onmousedown = stopHere;
		boxHeader.appendChild(boxName);
		
		var content = document.createElement('div');
		content.className = "boxContent";
		content.innerHTML = "Bet&ouml;lt&eacute;s alatt...";
		box.appendChild(content);
		
		var boxControls = document.createElement('div');
		boxControls.className = "boxControls";		
		var divEdit = document.createElement('div');
		divEdit.className = "divEdit";
		boxControls.appendChild(divEdit);
		var linkEdit = document.createElement("a");
		linkEdit.innerHTML = "Szerkeszt";
		linkEdit.href = "#";
		if(IE)
		  linkEdit.attachEvent("onmousedown", stopHere);
		else
		  linkEdit.onmousedown = stopHere;
		linkEdit.onclick = function(){obj.showEditRSSBox(this);	}
		divEdit.appendChild(linkEdit);		
		var closeImg = document.createElement('img');
		closeImg.className = "close";
		closeImg.src = 'i/closeMod.gif';
		if(IE)
		  closeImg.attachEvent("onmousedown", stopHere);
		else
		  closeImg.onmousedown = stopHere;
		closeImg.onclick = function(){
			removeRSSBox(boxID);
		}
		boxControls.appendChild(closeImg);		
		boxHeader.appendChild(boxControls);
		if(column!=null)
			column.appendChild(box);
		var data = Array();
		data[0] = content;
		data[1] = box;		
		Ajax.send("index.php", "POST", "action=get_rss&rss=" + encodeURIComponent(boxRSS) + "&nr=" + boxNewsNr + "&id=" + boxID, getContent, data);
						
		boxHeader.onmouseover = function()	{
			boxControls.style.display = "block";
		}
		boxHeader.onmouseout = function()	{
			boxControls.style.display = "none";
		}
		obj = box;		
		Drag.init(boxHeader, obj);	
		obj.boxRSS = boxRSS;		
		
		obj.updateBoxTitle = function(request){
			boxTitleURL = request.responseText;
			boxName.innerHTML = '<a href="http://' + boxTitleURL + '" class="boxName" target="_blank">' + boxTitle + '</a>';
			if(IE)
			  boxName.attachEvent("onmousedown", stopHere);
			else
			  boxName.onmousedown = stopHere;
		}
		obj.updateBox = function(title, newsNr, rss){
			var nr = newsNr.options[newsNr.selectedIndex].value;
			boxNewsNr = nr;
			boxTitle = title.value;
			boxRSS = rss.value;
			boxName.innerHTML = '<a href="http://' + boxTitleURL + '" class="boxName" target="_blank">' + boxTitle + '</a>';
			if(IE)
			  boxName.attachEvent("onmousedown", stopHere);
			else
			  boxName.onmousedown = stopHere;
			var data = Array();
			data[0] = content;
			data[1] = box;		
			Ajax.send("index.php", "POST", "action=update_rss&rss=" + encodeURIComponent(boxRSS) + "&nr=" + boxNewsNr + "&id=" + boxID + "&title=" + boxTitle, obj.updateBoxTitle, null);
			Ajax.send("index.php", "POST", "action=get_rss&rss=" + encodeURIComponent(boxRSS) + "&nr=" + boxNewsNr + "&id=" + boxID, getContent, data);			
		}
		obj.changeNewsNr = function(newsNr){
			var nr = newsNr.options[newsNr.selectedIndex].value;
			boxNewsNr = nr;
			Ajax.send("index.php", "POST", "action=update_news_nr&nr=" + boxNewsNr + "&id=" + boxID, null, null);
			var RSSUL = document.getElementById('RSSUL_' + boxID);
			var list = Array();
			for(var i=0;i<RSSUL.childNodes.length;i++){
				if(RSSUL.childNodes[i].tagName=="LI")
					list.push(RSSUL.childNodes[i]);
			}						
			for(var i=0;i<nr;i++){				
				if(i<list.length)
					list[i].style.display = "block";				
			}
			for(i=nr;i<list.length;i++){list[i].style.display = "none";}			
		}
		obj.closeEditRSSBox = function(editLink){
			boxHeader.onmouseover = function()	{
				boxControls.style.display = "block";
			}
			boxHeader.onmouseout = function()	{
				boxControls.style.display = "none";
			}
			boxControls.style.display = "none";
			/*editLink.onclick = function(){obj.showEditRSSBox(this);};
*/
			/*if (document.all)
			  editLink.attachEvent("onClick", function(){obj.showEditRSSBox(this)})
			else*/
			  editLink.onclick = function(){obj.showEditRSSBox(this);};
			editLink.innerHTML = "Szerkeszt"
			closeBox('editDiv_' + boxID);
		}
		
		obj.showEditRSSBox = function(editLink){			
			/*var tg = (window.event) ? window.event.srcElement : window.event.target;			
			if(tg!="undefined") alert(tg);
*/
			
			boxHeader.onmouseover = "";
			boxHeader.onmouseout = "";
			boxControls.style.display = "block";
			editLink.onclick = function(){obj.closeEditRSSBox(this);};
			editLink.innerHTML = "Szerkeszt&eacute;s v&eacute;ge"
			
			if(document.getElementById("editDiv_" + boxID)!=null){
				var editDIV = document.getElementById("editDiv_" + boxID);
				editDIV.style.display = "block";
			}else{
				var editDIV = createElement("div", "editDIV");
				editDIV.id = "editDiv_" + boxID;
				module.appendChild(editDIV);
				var ul = createElement("ul", "edit");
				editDIV.appendChild(ul);
				var li = createElement("li", "");
				li.innerHTML = "C&iacute;m:";
				ul.appendChild(li);
				var inputTitle = createElement("input", "");
				inputTitle.type = "text";
				inputTitle.value = boxTitle;								
				li = createElement("li", "");
				li.appendChild(inputTitle);
				ul.appendChild(li);
				li = createElement("li", "");
				li.innerHTML = "H&iacute;rek sz&aacute;ma:";
				ul.appendChild(li);
				li = createElement("li", "");
				var newsNr = createElement("select", "");
				newsNr.style.width = "auto";
				newsNr.onchange = function(){
					obj.changeNewsNr(newsNr);
				}
				li.appendChild(newsNr);
				ul.appendChild(li);
				for(var i=1;i<20;i++){
					var option = createElement('option', "");
					option.text = i;
					option.value = i;
					if(i==boxNewsNr) option.selected = true;
					try{
						newsNr.add(option, null);
					}catch(e){
						newsNr.add(option);
					}
				}

				li = createElement("li", "");
				li.innerHTML = "RSS csatorna:";
				ul.appendChild(li);
				var inputRSS = createElement("input", "");
				inputRSS.type = "text";
				inputRSS.value = boxRSS;
				li = createElement("li", "");
				li.appendChild(inputRSS);
				ul.appendChild(li);
				var button = createElement("input", "");
				button.type = "button";
				button.value = "Módosit";
				button.style.width = "auto";
				button.onclick = function(){
					obj.updateBox(inputTitle, newsNr, inputRSS);
				}
				li.appendChild(button);
			}									
		}
		
		obj.onDragStart = function(x, y){			
			var top = findPosY(this);
			var left = findPosX(this);
			var w = this.offsetWidth;
			this.style.width = w + "px";
			this.style.position = "absolute";			
			if(!IE){
				this.style.left = (left+1)+"px";
				this.style.top = (top+1)+"px";						
			}else{
				this.style.left = (left+11)+"px";
				this.style.top = (top+17)+"px";						
			}
			this.parentNode.insertBefore(moduleGhost, this);
			moduleGhost.style.height = (this.offsetHeight+2) +"px";	
			moduleGhost.style.width = (this.offsetWidth+2) +"px";	
			
		}
		obj.onDrag = function(nx, ny){
			var col = null;
			if ((nx+this.offsetWidth/2)>=findPosX(document.getElementById(0))) col=document.getElementById(0);
			if ((nx+this.offsetWidth/2)>=findPosX(document.getElementById(1))) col=document.getElementById(1);
			if ((nx+this.offsetWidth/2)>=findPosX(document.getElementById(2))) col=document.getElementById(2);
	
			if(col!=null){
				if(moduleGhost.parentNode!=col){
					var pN = moduleGhost.parentNode;				
					pN.removeChild(moduleGhost);
					col.appendChild(moduleGhost);				
				}
				var myPos = 0;							
				
				var elems = null;
				elems = Array();
				for(var i=0;i<col.childNodes.length;i++){
					if(col.childNodes[i].tagName == "DIV" && col.childNodes[i]!=this){			
						elems.push(col.childNodes[i]);
					}
				}
				for(var i=0;i<elems.length;i++){
					if(elems[i] == moduleGhost){
						myPos = i;
						break;
					}
				}		

				if (myPos!=0 && ny<=findPosY(elems[myPos-1])) {	
					col.removeChild(moduleGhost);	
					col.insertBefore(moduleGhost, elems[myPos-1]);	
				}			
				
				if (myPos!=(elems.length-1) && ny>=findPosY(elems[myPos+1])) {			
					if (elems[myPos+2]) {
						col.insertBefore(moduleGhost, elems[myPos+2]);
					} else {						
						col.appendChild(moduleGhost);
					}	
				}
				
			}		
		}
		obj.onDragEnd = function(x,y){
			this.style.position=  "static"
			moduleGhost.parentNode.insertBefore(this, moduleGhost);		
			moduleGhost.parentNode.removeChild(moduleGhost);		
			var cols = Array();
			for(var i=0;i<3;i++){
				var parent = document.getElementById(i);
				cols[i] = '';
				for(var j=0;j<parent.childNodes.length;j++){
					if(parent.childNodes[j].tagName=="DIV")
						cols[i] += parent.childNodes[j].id + ";";
				}
			}
			cols[0] = "&first=" + cols[0];
			cols[1] = "&second=" + cols[1];
			cols[2] = "&third=" + cols[2];			
			Ajax.send("index.php", "POST", "action=resort" + cols[0] + cols[1] + cols[2], null, null);
		}		
	}
	this.build();
	
}
function test(r){
	alert(r.responseText);
}
var Drag = {	
	obj : null,

    init : function(o, oRoot, minX, maxX, minY, maxY, bSwapHorzRef, bSwapVertRef, fXMapper, fYMapper)
    {
        o.onmousedown    = Drag.start;

        o.hmode            = bSwapHorzRef ? false : true ;
        o.vmode            = bSwapVertRef ? false : true ;

        o.root = oRoot && oRoot != null ? oRoot : o ;

        if (o.hmode  && isNaN(parseInt(o.root.style.left  ))) o.root.style.left   = "0px";
        if (o.vmode  && isNaN(parseInt(o.root.style.top   ))) o.root.style.top    = "0px";
        if (!o.hmode && isNaN(parseInt(o.root.style.right ))) o.root.style.right  = "0px";
        if (!o.vmode && isNaN(parseInt(o.root.style.bottom))) o.root.style.bottom = "0px";

        o.minX    = typeof minX != 'undefined' ? minX : null;
        o.minY    = typeof minY != 'undefined' ? minY : null;
        o.maxX    = typeof maxX != 'undefined' ? maxX : null;
        o.maxY    = typeof maxY != 'undefined' ? maxY : null;

        o.xMapper = fXMapper ? fXMapper : null;
        o.yMapper = fYMapper ? fYMapper : null;				
		
        o.root.onDragStart    = new Function();
        o.root.onDragEnd    = new Function();
        o.root.onDrag        = new Function();  
    },

    start : function(e)
    {
        var o = Drag.obj = this;
		
		
        e = Drag.fixE(e);		
        var y = parseInt(o.vmode ? o.root.style.top  : o.root.style.bottom);
        var x = parseInt(o.hmode ? o.root.style.left : o.root.style.right );
        o.root.onDragStart(x, y);

        o.lastMouseX    = e.clientX;
        o.lastMouseY    = e.clientY;

        if (o.hmode) {
            if (o.minX != null)    o.minMouseX    = e.clientX - x + o.minX;
            if (o.maxX != null)    o.maxMouseX    = o.minMouseX + o.maxX - o.minX;
        } else {
            if (o.minX != null) o.maxMouseX = -o.minX + e.clientX + x;
            if (o.maxX != null) o.minMouseX = -o.maxX + e.clientX + x;
        }

        if (o.vmode) {
            if (o.minY != null)    o.minMouseY    = e.clientY - y + o.minY;
            if (o.maxY != null)    o.maxMouseY    = o.minMouseY + o.maxY - o.minY;
        } else {
            if (o.minY != null) o.maxMouseY = -o.minY + e.clientY + y;
            if (o.maxY != null) o.minMouseY = -o.maxY + e.clientY + y;
        }
		Drag.drag(e);
        document.onmousemove    = Drag.drag;
        document.onmouseup        = Drag.end;
			
        return false;
    },

    drag : function(e)
    {
		moduleGhost.style.display = "block";
        e = Drag.fixE(e);
        var o = Drag.obj;
        var ey    = e.clientY;
        var ex    = e.clientX;
        //var y = parseInt(o.vmode ? o.root.style.top  : o.root.style.bottom);
        //var x = parseInt(o.hmode ? o.root.style.left : o.root.style.right );
		var y = parseInt(o.root.style.top);
        var x = parseInt(o.root.style.left);
        var nx, ny;

        /*if (o.minX != null) ex = o.hmode ? Math.max(ex, o.minMouseX) : Math.min(ex, o.maxMouseX);
        if (o.maxX != null) ex = o.hmode ? Math.min(ex, o.maxMouseX) : Math.max(ex, o.minMouseX);
        if (o.minY != null) ey = o.vmode ? Math.max(ey, o.minMouseY) : Math.min(ey, o.maxMouseY);
        if (o.maxY != null) ey = o.vmode ? Math.min(ey, o.maxMouseY) : Math.max(ey, o.minMouseY);
*/
        //nx = x + ((ex - o.lastMouseX) * (o.hmode ? 1 : -1));
        //ny = y + ((ey - o.lastMouseY) * (o.vmode ? 1 : -1));
		nx = x + ex - o.lastMouseX;
        ny = y + ey - o.lastMouseY;

        /*if (o.xMapper)        nx = o.xMapper(y)
        else if (o.yMapper)    ny = o.yMapper(x)
*/
        Drag.obj.root.style[o.hmode ? "left" : "right"] = nx + "px";
        Drag.obj.root.style[o.vmode ? "top" : "bottom"] = ny + "px";
        Drag.obj.lastMouseX    = ex;
        Drag.obj.lastMouseY    = ey;

        Drag.obj.root.onDrag(nx, ny);
		
        return false;
    },

    end : function()
    {
        
		document.onmousemove = null;
        document.onmouseup   = null;
        Drag.obj.root.onDragEnd(    parseInt(Drag.obj.root.style[Drag.obj.hmode ? "left" : "right"]), 
                                    parseInt(Drag.obj.root.style[Drag.obj.vmode ? "top" : "bottom"]));		
		
        Drag.obj = null;
    },

    fixE : function(e)
    {
        if (typeof e == 'undefined') e = window.event;
        if (typeof e.layerX == 'undefined') e.layerX = e.offsetX;
        if (typeof e.layerY == 'undefined') e.layerY = e.offsetY;
        return e;
    }
}
var Ajax = new Object();
Ajax.send = function(url, method, parameters, callBack, data){	
	var HttpRequest = "";
	try{
		HttpRequest = new ActiveXObject("Msxml2.XMLHTTP");
	}catch(e){
		try{
			HttpRequest = new ActiveXObject("Microsoft.XMLHTTP");
		}catch(e){
			try{
				HttpRequest = new XMLHttpRequest();
			}catch(e){
				alert("XMLHttpRequest not suported!");
				return false;
			}
		}
	} 
	HttpRequest.onreadystatechange = function() {
		if (HttpRequest.readyState == 4) {// only if req shows "loaded"
			if (HttpRequest.status < 400) {// only if "OK"
				if(callBack!=null){
					if(data==null)	callBack(HttpRequest);
						else callBack(HttpRequest, data);
				}
			} else {
				alert("There was a problem loading data :\n" + HttpRequest.status+ "/" + HttpRequest.statusText);
			}
		}

	}
	if (method=="POST") {
		HttpRequest.open("POST", url, true);
		HttpRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
		HttpRequest.send(parameters);
	} else {		
		HttpRequest.open("GET", url + "?" + parameters, true);
		HttpRequest.send(null);

	}
}

function showResponse(request){
	var answer = request.responseText.split(":");	
	var temp = null;
	for(var i=0;i<answer.length;i++){		
		temp = answer[i].split("|");
		if(temp.length>1)
			new Box(temp[0], temp[1], temp[2], temp[3], temp[4], temp[5], temp[6], temp[7], temp[8]);
	}
}
function showNewRSSModule(obj){
	var parent = document.getElementById('menuTD');
	parent.rowSpan = 2;
	parent.removeChild(obj)
	
	var container = document.createElement("div");
	container.className = "menuContainer";	
	container.id = "menuContainer";
	parent.appendChild(container);	
	
	var content = document.createElement("div");
	content.className = "menuContent";
	
	//
	var contentClose = document.createElement("div");
	contentClose.className = "menuContentClose";
	contentClose.innerHTML = '<img src="i/closeMod.gif" onclick="closeNewRSSModule()" class="close" />';
	content.appendChild(contentClose);
	
	var addNewFeedC = document.createElement("div");
	addNewFeedC.className = "addNewFeedC";
	content.appendChild(addNewFeedC);
	addNewFeedC.innerHTML = '<a href="#" class="menuContent" onClick="showBox(\'addNewRSSContainer\');">&Uacute;j RSS</a>';
	
	container.appendChild(content);
}
function closeNewRSSModule(){		
	closeBox('menuContainer');
	var parent = document.getElementById('menuTD');
	parent.rowSpan = 0;			
	parent.innerHTML = '<a href="#" onClick="showNewRSSModule(this);">&Uacute;j RSS felvitele</a>';	
	alert(parent.rowSpan);
}

function showmenuContent(){
	
}
function closeBox(id){
	try{
		var parent = document.getElementById(id);
		parent.removeChild(document.getElementById(id));
	}catch(e){
		document.getElementById(id).style.display = "none";
	}	
	return false;
}
function showBox(id){
	document.getElementById(id).style.display = "block";
	return false;
}
function addNewRSSBOXProcess(request,data){	
	if(request.responseText!=-1){
		var answer = request.responseText.split("|");				
		new Box(answer[0], answer[1], data[0], 0, 0, 7, 0, 1, answer[3]);
	}else alert('Ismeretlen RSS forras!');
}
function addNewRSSBOX(){	
	var rss = document.getElementById('newRSSFeed').value;	
	var pars = "action=add_new_rss&rss=" + encodeURIComponent(rss);
	var url = "index.php";
	var data = Array();
	data[0] = rss;
	Ajax.send(url, "POST", pars, addNewRSSBOXProcess, data);	
}
function removeRSSBox(id){
	var pars = "action=remove_rss_box&id=" + id;
	var url = "index.php";
	Ajax.send(url, "POST", pars, null, null);	
	closeBox('box_' + id);
}
function init(){ 		
		var url = 'index.php';
		var pars = 'action=start';		
		Ajax.send(url, "POST", pars, showResponse, null);	
}

var moduleGhost = document.createElement("div");
moduleGhost.id = "moduleGhost";

var Page = new Object();
Page.init = function(){
	rag.init(document.getElementById('temp_head'), document.getElementById('temp_1'));	
}
window.onload = function(){
	Page.init();
}

var Drag = {	
	obj : null,

    init : function(o, oRoot, minX, maxX, minY, maxY, bSwapHorzRef, bSwapVertRef, fXMapper, fYMapper)
    {
        o.onmousedown    = Drag.start;

        o.hmode            = bSwapHorzRef ? false : true ;
        o.vmode            = bSwapVertRef ? false : true ;

        o.root = oRoot && oRoot != null ? oRoot : o ;

        if (o.hmode  && isNaN(parseInt(o.root.style.left  ))) o.root.style.left   = "0px";
        if (o.vmode  && isNaN(parseInt(o.root.style.top   ))) o.root.style.top    = "0px";
        if (!o.hmode && isNaN(parseInt(o.root.style.right ))) o.root.style.right  = "0px";
        if (!o.vmode && isNaN(parseInt(o.root.style.bottom))) o.root.style.bottom = "0px";

        o.minX    = typeof minX != 'undefined' ? minX : null;
        o.minY    = typeof minY != 'undefined' ? minY : null;
        o.maxX    = typeof maxX != 'undefined' ? maxX : null;
        o.maxY    = typeof maxY != 'undefined' ? maxY : null;

        o.xMapper = fXMapper ? fXMapper : null;
        o.yMapper = fYMapper ? fYMapper : null;				
		
        o.root.onDragStart    = new Function();
        o.root.onDragEnd    = new Function();
        o.root.onDrag        = new Function();  
    },

    start : function(e)
    {
        var o = Drag.obj = this;
		
		
        e = Drag.fixE(e);		
        var y = parseInt(o.vmode ? o.root.style.top  : o.root.style.bottom);
        var x = parseInt(o.hmode ? o.root.style.left : o.root.style.right );
        o.root.onDragStart(x, y);

        o.lastMouseX    = e.clientX;
        o.lastMouseY    = e.clientY;

        if (o.hmode) {
            if (o.minX != null)    o.minMouseX    = e.clientX - x + o.minX;
            if (o.maxX != null)    o.maxMouseX    = o.minMouseX + o.maxX - o.minX;
        } else {
            if (o.minX != null) o.maxMouseX = -o.minX + e.clientX + x;
            if (o.maxX != null) o.minMouseX = -o.maxX + e.clientX + x;
        }

        if (o.vmode) {
            if (o.minY != null)    o.minMouseY    = e.clientY - y + o.minY;
            if (o.maxY != null)    o.maxMouseY    = o.minMouseY + o.maxY - o.minY;
        } else {
            if (o.minY != null) o.maxMouseY = -o.minY + e.clientY + y;
            if (o.maxY != null) o.minMouseY = -o.maxY + e.clientY + y;
        }
		Drag.drag(e);
        document.onmousemove    = Drag.drag;
        document.onmouseup        = Drag.end;
			
        return false;
    },

    drag : function(e)
    {
		moduleGhost.style.display = "block";
        e = Drag.fixE(e);
        var o = Drag.obj;
        var ey    = e.clientY;
        var ex    = e.clientX;
        //var y = parseInt(o.vmode ? o.root.style.top  : o.root.style.bottom);
        //var x = parseInt(o.hmode ? o.root.style.left : o.root.style.right );
		var y = parseInt(o.root.style.top);
        var x = parseInt(o.root.style.left);
        var nx, ny;

        /*if (o.minX != null) ex = o.hmode ? Math.max(ex, o.minMouseX) : Math.min(ex, o.maxMouseX);
        if (o.maxX != null) ex = o.hmode ? Math.min(ex, o.maxMouseX) : Math.max(ex, o.minMouseX);
        if (o.minY != null) ey = o.vmode ? Math.max(ey, o.minMouseY) : Math.min(ey, o.maxMouseY);
        if (o.maxY != null) ey = o.vmode ? Math.min(ey, o.maxMouseY) : Math.max(ey, o.minMouseY);
*/
        //nx = x + ((ex - o.lastMouseX) * (o.hmode ? 1 : -1));
        //ny = y + ((ey - o.lastMouseY) * (o.vmode ? 1 : -1));
		nx = x + ex - o.lastMouseX;
        ny = y + ey - o.lastMouseY;

        /*if (o.xMapper)        nx = o.xMapper(y)
        else if (o.yMapper)    ny = o.yMapper(x)
*/
        Drag.obj.root.style[o.hmode ? "left" : "right"] = nx + "px";
        Drag.obj.root.style[o.vmode ? "top" : "bottom"] = ny + "px";
        Drag.obj.lastMouseX    = ex;
        Drag.obj.lastMouseY    = ey;

        Drag.obj.root.onDrag(nx, ny);
		
        return false;
    },

    end : function()
    {
        
		document.onmousemove = null;
        document.onmouseup   = null;
        Drag.obj.root.onDragEnd(    parseInt(Drag.obj.root.style[Drag.obj.hmode ? "left" : "right"]), 
                                    parseInt(Drag.obj.root.style[Drag.obj.vmode ? "top" : "bottom"]));		
		
        Drag.obj = null;
    },

    fixE : function(e)
    {
        if (typeof e == 'undefined') e = window.event;
        if (typeof e.layerX == 'undefined') e.layerX = e.offsetX;
        if (typeof e.layerY == 'undefined') e.layerY = e.offsetY;
        return e;
    }
}
</script>
<style type="text/css">
body{
	margin:0px;
	padding:0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}
img{border:0px;}
a:link, a:active, a:visited{
	color:#102E71;
	text-decoration:none;
}
a:hover{
	color:#F26A20;
	text-decoration:underline;
}
.box{
	border:1px solid #D5DEE1;
	background:#FFFFFF;
	color:#102E71;
	margin-bottom:10px;
}
.box h1{
	background:url(i/bh.gif) repeat-x;
	margin:0px;
	font-size:12px;
	font-weight:bold;
	padding:3px 0px 3px 0px;
	border-bottom:1px solid #7D8E97;
}
.box h1 a:link, .box h1 a:active, .box h1 a:visited{
	color:#102E71;
	text-decoration:none;
}
.box h1 a:hover{
	color:#F26A20;
	text-decoration:underline;
}
.edit{
	padding:4px 5px 0px 0px;
	float:right;
	font-size:9px;
}
</style>


{/literal}
</head>

<body>
<table width="760" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td width="33%" id="col_0">
		<div class="box" id="temp_1">
			<div id="temp_head">
				<div class="edit"><a href="#">F5</a> <a href="#">Szerkeszt</a><a href="#"><img src="i/close.gif" align="absmiddle" /></a></div>
				<h1><a href="#"><img src="http://index.hu/favicon.ico" style="margin-top:-5px;" align="absmiddle" /></a><a href="#">Index.hu</a></h1>
			</div>
			<br /><br /><br /><br /><br /><br /><br /><br /><br />
		</div>
	</td>
    <td width="33%" id="col_1"></td>
    <td width="33%" id="col_2"></td>
  </tr>
</table>

</body>
</html>
