ErrorDocument 404 error.php

<IfModule mod_rewrite.c>
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule .+ - [L]
RewriteRule ^([^.]+)$ index.php [QSA,L]
#RewriteRule ^(.*)$ index.php?q=$1 [L,QSA]
</IfModule>

