<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
{literal}
<style type="text/css">
body{	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}
</style>
{/literal}
</head>

<body>
<h3>Elfelejtett jelsz&oacute;</h3>

	<p><strong>E-mail:</strong> {$data.email}</p>
	<p><strong>Jelsz&oacute;:</strong> {$data.password}</p>

</body>
</html>
