<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
<h3>Kedves Felhasználónk!</h3>

<p> Mostantól Ön is élvezheti a hírek.hu hírszemléző szolgáltatásának legfontosabb előnyeit:</p>

<ul> 
<li>hírdobozok, hírforrások felvétele és törlése</li>
<li>hírdobozok áthelyezése a híroldalakon belül</li>
<li>hírdobozok szerkesztése (név és színválasztás, hírelemek mennyiségének beállítása)</li>
<li>új híroldalak felvétele és szerkesztése</li>
</ul>

<p>Üdvözlettel:</p>

<p>A <a href="http://www.hirek.hu/">www.hirek.hu</a> csapata.</p>


{*}
	<p><strong>E-mail:</strong> {$data.email}</p>
	<p><strong>Jelsz&oacute;:</strong> {$data.password}</p>
{*}
</body>
</html>
