<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <div id="uploaderForm">
      <h3>Youtube login:</h3><br />
      <form action="/upload" method="post">
      <label>Email:</label><br />
      <input id="userMail" type="text" name="userMail"/><br />
      <label>Password:</label><br />
      <input id="password" type="password" name="password"/><br />
      <input type="submit" value="login" /><br />
        </form>
    </div>
  </body>
</html>

