<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Upload</title>
  </head>
  <body>
    <div id="cont">
      <h3>Upload a movie:</h3><br />
      <div id="uploaderForm">
        <form action="<%= @action %>?nexturl=http://defaulter.dyndns.hu:3000/ready" method="post" enctype="multipart/form-data">
        <input id="file" type="file" name="file"/>
        <input type="hidden" name="token" value="<%= @responsetoken %>"/>
        <input type="submit" value="go" />
        </form>
      </div>
    </div>
  </body>
</html>

