html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border:0pt none;
	font-family:Verdana,Tahoma,sans-serif;
	font-size:10pt;
	font-style:inherit;
	font-weight:inherit;
	margin:0pt;
	/*outline-color:invert;*/
	outline-style:none;
	outline-width:0pt;
	padding:0pt;
	vertical-align:baseline;
}
body {
	line-height:1;
	color:black;
	background-color:white;
}
table {
	border-collapse:separate;
	border-spacing:0pt;
}
caption, th, td {
	font-weight:normal;
	text-align:left;
}
blockquote:before, blockquote:after, q:before, q:after {
	content:"";
}
blockquote, q {
	quotes:"" "";
}
strong {
	font-weight:bold;
}
em {
	font-style:italic;
}
ol, ul {
/*	list-style: none;*/
}
* {
	margin:0pt;
	padding:0pt;
}
/** default classes **/
.none { display: none; }
.hidden { visibility: hidden; }
.tl { text-align: left; }
.tc { text-align: center; }
.tr { text-align: right; }
.tj { text-align: justify; }
.fl { float: left; }
.fr { float: right; }
.clear { clear: both; }
.b { font-weight: bold; }
.i { font-style: italic; }
.u { text-decoration: underline; }
